<table class="flex flex-col mx-10 my-5 p-5 border-separate border border-slate-400 table-fixed border-spacing-2">
    <thead class="flex flex-col items-center border border-slate-400">
        <tr>
            <th class="text-lg border-slate-400 text-center text-white">Watch History</th>
        </tr>
        <!--Possibly add a search-->
    </thead>
    <tbody class="flex flex-col items-center border border-slate-400 w-full">
        <tr class="flex mb-4 w-full mx-50 items-center text-xl text-center">
            <td class="flex-1"><!--column for movie cover image--></td>
            <td class="flex-1 text-white">Title</td>
            <td class="flex-1 text-white">Release Date</td>
            <td class="flex-1 text-white">Genres</td>
            <td class="flex-1 text-white">Trailer</td>
            <td class="flex-1"></td>
            <td class="flex-1"></td>
        </tr>
            <!-- populate based on list -->
            <tr *ngFor="let e of watchhistory" class="flex mb-4 w-full mx-50 items-center text-xl text-center bg-gray-400">
                <td class="flex-1"><img src="{{e.cover}}" class="w-36 h-40" alt=""></td>
                <td class="flex-1">{{e.title}}</td>
                <td class="flex-1">{{e.release}}</td>
                <td class="flex-1">{{e.genre}}</td> 
                <td class="flex-1"><a href="{{e.trailer}}" class="text-blue-600 underline-offset-4">Watch preview</a></td>
                <td class="flex-1">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Remove
                    </button>
                </td>
                <td class="flex-1 ">
                    <button (click)="delete()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Review
                    </button>
                </td>
            </tr>
    </tbody>
</table> 